.header {
  background-color: #222233;
  margin: 0;
  border-bottom: 1px solid #aaccff;

  fa-icon {
    transition: 0.5s;
  }

  &.is-open {
    background-color: #111122;

    fa-icon {
      transform: rotate(180deg);
    }
  }

  &__trigger {
    background: none;
    border-style: none;
    display: block;
    padding: 0.5rem;
    width: 100%;
    outline: none;
  }

  &__title {
    pointer-events: none;
    border: transparent 2px solid;
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    color: #aaccff;
  }

  &__trigger:focus &__title {
    border-color: hsl(216, 94%, 73%);
  }
}
