<div>
  <h1>Accordion</h1>
  <div
    class="accordion"
    [ngClass]="{ focus: focus }"
    (keyup)="handleKeyUp($event)"
  >
    <app-accordion-header
      headerTitle="Title 1"
      index="0"
      [isFocused]="0 === currentlyFocused"
      [isOpen]="0 === currentlyOpen"
      (focused)="setFocus(0)"
      (blurred)="setBlur()"
      (opened)="openPanel(0)"
      (closed)="closePanel()"
    >
      <div class="accordion__panel">
        <fieldset>
          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>

          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>
        </fieldset>
      </div>
    </app-accordion-header>
    <app-accordion-header
      headerTitle="Title 2"
      index="1"
      [isFocused]="1 === currentlyFocused"
      [isOpen]="1 === currentlyOpen"
      (focused)="setFocus(1)"
      (blurred)="setBlur()"
      (opened)="openPanel(1)"
      (closed)="closePanel()"
    >
      <div class="accordion__panel">
        <fieldset>
          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>

          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>
        </fieldset>
      </div>
    </app-accordion-header>
    <app-accordion-header
      headerTitle="Title 3"
      index="2"
      [isFocused]="2 === currentlyFocused"
      [isOpen]="2 === currentlyOpen"
      (focused)="setFocus(2)"
      (blurred)="setBlur()"
      (opened)="openPanel(2)"
      (closed)="closePanel()"
    >
      <div class="accordion__panel">
        <fieldset>
          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>

          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>
        </fieldset>
      </div>
    </app-accordion-header>
    <app-accordion-header
      headerTitle="Title 4"
      index="3"
      [isFocused]="3 === currentlyFocused"
      [isOpen]="3 === currentlyOpen"
      (focused)="setFocus(3)"
      (blurred)="setBlur()"
      (opened)="openPanel(3)"
      (closed)="closePanel()"
    >
      <div class="accordion__panel">
        <fieldset>
          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>

          <label style="display: block; margin-bottom: 1rem">
            Text:
            <input />
          </label>
        </fieldset>
      </div>
    </app-accordion-header>
  </div>
</div>
