<div>
  <h1>Accordion</h1>
  <div
    class="accordion"
    [ngClass]="{ focus: focus }"
    (keyup)="handleKeyUp($event)"
  >
    <app-accordion-header
      [index]="0"
      [isFocused]="0 === currentlyFocused"
      [isOpen]="0 === currentlyOpen"
      (focused)="setFocus(0)"
      (blurred)="setBlur()"
      (opened)="openPanel(0)"
      (closed)="closePanel()"
    ></app-accordion-header>
    <app-accordion-content *ngIf="currentlyOpen === 0"></app-accordion-content>
    <app-accordion-header
      [index]="1"
      [isFocused]="1 === currentlyFocused"
      [isOpen]="1 === currentlyOpen"
      (focused)="setFocus(1)"
      (blurred)="setBlur()"
      (opened)="openPanel(1)"
      (closed)="closePanel()"
    ></app-accordion-header>
    <app-accordion-content *ngIf="currentlyOpen === 1"></app-accordion-content>
    <app-accordion-header
      [index]="2"
      [isFocused]="2 === currentlyFocused"
      [isOpen]="2 === currentlyOpen"
      (focused)="setFocus(2)"
      (blurred)="setBlur()"
      (opened)="openPanel(2)"
      (closed)="closePanel()"
    ></app-accordion-header>
    <app-accordion-content *ngIf="currentlyOpen === 2"></app-accordion-content>
  </div>
</div>
